{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<script src="https://kit.fontawesome.com/c1c26ed80d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'split_file/css/style.css' %}">
<script src="{% static 'split_file/js/index.js' %}"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'main:home' %}" class="w3-bar-item w3-button w3-padding-large w3-white">ᑕᕼᑌᑎᛕᗴᗪ</a>
    <a href="{% url 'split_file:split_home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Split</a>
    <a href="{% url 'main:features' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Our features</a>
    <a href="{% url 'main:documentation' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Documentation</a>
    <span><b class='fa fa-user w3-button w3-right'>{{request.user}}</b></span>
    <a href="{% url 'accounts:logout' %}" class="w3-right w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log out</a>
</div>
{% block content %}
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'main:home' %}" class="w3-bar-item w3-button w3-padding-large">ᑕᕼᑌᑎᛕᗴᗪ</a>
    <a href="{% url 'split_file:split_home' %}" class="w3-bar-item w3-button w3-padding-large">Split</a>
    <a href="{% url 'main:features' %}" class="w3-bar-item w3-button w3-padding-large">Suggest New Feature</a>
    <a href="{% url 'main:documentation' %}" class="w3-bar-item w3-button w3-padding-large">Documentation</a>
      <span><b class='fa fa-user'>{{request.user}}</b></span>
      <a href="{% url 'accounts:logout' %}" class="w3-button w3-grey w3-border-radius">Log out</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">🆂🅿🅻🅸🆃</h1>
  <p class="w3-large">What would you like to split today?</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h5 class="w3-padding-32 w3-jumbo">
        Split csv files
      </h5>
      <a href="{% url 'split_file:split_csv' %}" class="w3-button w3-padding-32 w3-grey w3-center w3-hover-red">
        Start splitting
      </a>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'split_file/images/csv-icon.png' %}" alt="csv" class="w3-padding-64 w3-text-red">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
        <img src="{% static 'split_file/images/json-file-icon.jpg' %}" alt="json" class="w3-padding-64 w3-text-red w3-margin-right">
    </div>

    <div class="w3-twothird">
      <h5 class="w3-padding-32 w3-jumbo">
        Split json files
      </h5>
        <a href="{% url 'split_file:split_json' %}" class="w3-button w3-padding-32 w3-grey w3-center w3-hover-red">
          Start splitting
        </a>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>
{% endblock %}

{% include 'footer.html' %}

</body>
</html>
