*, ::before, ::after{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;

}
header {
    width: 80%;
    margin: 0 auto;
    margin-top: 10em;
}
header h1{
    text-align: center;
}
.header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text, .header-img{
    width: 100%;
    
}
.header-img {
    margin-left: 3.5em;
}
.header-img img{
    width: 95%;
    height: 95%;
}
.first-row, .second-row {
    display: flex;
    justify-content: center;
    text-align: center;
}
.first-row p, .second-row p {
    margin-top: 0.6em;
}
.second-row {
    margin-top: 5em;
}
.first-row {
    margin-top: 4em;
}
.pic {
    width: 70%;
    height: 80%;
}
main {
    margin-top: 10em;
    margin-bottom: 13em;
}
main .leading {
    text-align: center;
}
main .leading  h2 {
    margin-bottom: 2em;
}
