*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: relative;
  } 
/* Page colors */
:root {
    --convert-icon: #dddd2d;
    --darkpink: #d1495b;
    --peachblue: #00798c;
    --powderblue: #d5effb;
    --whiteink: #f6e4fe;
    --utility-cont: #e0e0e0;
    --white: #ffffff;
    --header: #3ecddf;
    --footer-texts: #575757;
    --paleblue: rgb(59, 91, 177);
  }
  
  a {
    text-decoration: none;
    color: var(--footer-texts);
  }
  
  header,
  main,
  footer {
    padding: 0 5%;
    font-family: "DM Sans";
  }
  
  header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    top: 0;
    z-index: 50;
    min-height: 88px;
    width: 100%;
    background-color: var(--white);
    align-items: center;
    box-shadow: 0 10px 15px -8px rgb(189, 186, 186);
  }
  
  /* The Logo */
  
  .logo-cont {
    display: flex;
    height: 72px;
    min-width: 235px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    order: 1;
  
    /* background-color: yellow; */
  }
  
  .logo-icon {
    /* height: 150px; */
    width: 180px;
    color: rgb(59, 91, 177);
  }
  
  .logo-text {
    font-weight: 700;
    /* margin-top: -50px; */
  }
  
  /* The Navigation Bar */
  
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    /* gap: .5%; */
    justify-content: space-between;
    min-width: 33%;
    /* height: 28px; */
    word-break: keep-all;
    margin-left: -20px;
  
    order: 2;
  
    /* background-color: orangered; */
  }
  
  .navbar a {
    position: relative;
    /* width: 110px; */
    /* height: 28px; */
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 4px;
    border-radius: 4px;
  }
  
  .navbar > a:hover {
    background-color: var(--paleblue);
    color: #ffffff;
  }
  
  /* The Search Bar */
  
  .search-cont {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    width: 228px;
    height: 44px;
    background-color: rgb(238, 241, 250);
    border-radius: 8px;
    margin-left: 16%;
    order: 3;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
    margin-left: 7px;
  }
  
  input[name="search-bar"] {
    border: none;
    outline: none;
    font-size: 16px;
    width: 190px;
    height: inherit;
    text-shadow: none;
    border-radius: 8px;
    background-color: rgb(238, 241, 250);
  }
  
  .notification {
    order: 4;
    width: 16px;
    height: 20px;
  }
  
  /* The User Profile in the header */
  
  .user-prof-cont {
    position: relative;
    display: inline-block;
    width: 82px;
    height: 48px;
    order: 5;
    height: auto;
    cursor: default;
    /* background-color: purple; */
  }
  
  .profile-pic {
    position: absolute;
    left: 10px;
    top: 10px;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    float: right;
  }
  
  .user-prof {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* background-color: var(--paleblue); */
    /* float: right; */
    /* justify-self: flex-start; */
  }
  
  .user-prof > img {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    /* background-color: red; */
  }
  
  .tool-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    position: absolute;
    word-wrap: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
    text-align: left;
    border-top: 1px solid black;
  }
  
  .user-prof-cont:hover .tool-drop {
    position: absolute;
    visibility: visible;
    top: 48px;
    left: -20px;
    width: 100%;
    word-wrap: break-word;
    background-color: green;
  }
  
  .tool-drop > a {
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
    border-top: transparent;
    width: inherit;
    padding: 2px;
    font-size: small;
    height: fit-content;
    background-color: var(--utility-cont);
  }
  
  .tool-drop a:hover {
    background-color: var(--footer-texts);
    color: var(--white);
  }
/* SECTIONS HEADING */
.section{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 32px;
  color: #353535;
}
  .first-section-head{
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 253px;
    height: 74px;
    font-style: normal;
    font-weight: 700;
    font-size: 3.563rem;
    line-height: 74px;
    color: #3b5bb1;

  }
  .second-section-head{
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 456px;
    height: 79px;
    font-style: normal;
    font-weight: 500;
    font-size: 3.563rem;
    line-height: 74px;
    color: #3b5bb1;
  }
  .flex-container-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }
  .flex-item-left {
    padding: 30px;
    flex: 50%;
    line-height: 20px;
    align-self: center;
  }
  .flex-item-right {
    padding: 30px;
    flex: 50%; 
  }
  .flex-item-right > img {
    height: 100%;
    width: 100%;
  }

  /* footer */
  html {
    font-size: 62.5%;
  }
  footer {
    font-size: 62.5%;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
  }
  .footer-container {
    background-color: rgb(59, 91, 177);
    padding: 2em 4em;
    margin-top: 9.375rem;
  
  }
  .footer-top {
    display: flex;
    margin-left: 0em;
    margin-right: 6em;
  }
  a {
    list-style-type: none;
    text-decoration: none;
  
  }
  .mobile-flex {
    display: flex;
    
  }
  .second, .third ,.fourth {
    margin-left: 5em;
  }
  .footer-bottom {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }
  p {
    margin: 0.75em 0;
  }
  h2 {
    margin-bottom: 1em;
  }
  .footer-bottom p {
    margin: 0;
  }
  /* Small and Medium Screens */
  @media screen and (max-width: 990px){
    .footer-top {
      display: block;
      margin-right: 0;
      margin-left: 1.5em;
      padding-right: 3em;
    }
    .second, .third ,.fourth {
      margin-left: 0;
      margin-top: 2em;
    }
    .footer-container {
      padding: 2em 0 4em 0;
      font-size: 1.6rem;
      
    }
    .mobile-flex {
      justify-content: space-between;
    }
    .footer-bottom {
      width: 90%;
      margin: auto;
      margin-top: 2em;
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }
    .footer-bottom p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .footer-logo {
      width: 160px;
      height: 80px;
    }
    footer {
      padding-bottom: 5em;
    }
    .social {
      display: flex;
    
    }
    .tagline {
      font-size: 1.4rem;
      margin-top: 0em;
    }
  
    
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container-1 {
    flex-direction: column;
    }
  .pag {
    text-align: center;
  }
  }
  .p-meet{
    text-align: center;
    line-height: 20px;
  }
  .flex-container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }
  .left-item{
    flex: 33.33%;
    text-align: center;
  }
  .middle-item{
    flex: 33.33%;
    text-align: center;
  }
  .right-item{
    flex: 33.33%;
    text-align: center;
  }
  .pic{
    height: 50%;
    width: 100%;
    padding: 70px 30px 10px 30px;
    margin: 0 auto 0 auto;
  }
  .fig{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .left-item, .middle-item {
      flex: 50%;
      }
    .right-item{
      display: flex;
      flex-direction: row;
      text-align: center;
    }
    .nested-left-item{
      flex: 50%;
      text-align: center;
    }
    .nested-right-item{
      flex: 50%;
      text-align: center;
    }
    @media (max-width: 800px) {
      .nested-left-item, .nested.right-item {
        flex: 50%;
        }
      .pic{
          height: 70%;
          padding-bottom: 20px;
        }
        .first-section-head{
          padding-top: 200px;
    text-align: center;
        }
    }
    