* {
    box-sizing: border-box;
  }
  
body, html {
    margin: 0;
    font-family: Arial;
  }
  /* Page colors */
:root {
    --convert-icon: #DDDD2D;;
    --darkpink: #d1495b;
    --peachblue: #00798c;
    --powderblue: #D5EFFB;
    --darkblue: #003d5b;
    --whiteink: #F6E4FE;
    --utility-cont: #E0E0E0;
    --white: #ffffff;
    --header: #3ECDDF;
    --footer-texts: #575757;
}

a {
    text-decoration: none;
    color: var(--footer-texts);
}

header, main, footer {
    padding: 0 5%;
    font-family: 'DM Sans';
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: fixed;
    top: 0;
    z-index: 50;
    height: 88px;
    width: 100%;
    background-color: var(--powderblue);
    align-items: center;
}

/* The Logo */

.logo-cont {
    display: flex;
    height: 72px;
    min-width: 235px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    order: 1;

    /* background-color: yellow; */
}

.logo-icon {
    height: 72px;
    width: 64px;
    background-color: transparent;
}

.logo-text {
    font-weight: 700;
    /* margin-top: -50px; */
}

/* The Search Bar */

.search-cont {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    width: 228px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    order: 2;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-left: 7px;
}

input[name="search-bar"] {
    border: none;
    outline: none;
    font-size: 16px;
    width: 190px;
    height: inherit;
    text-shadow: none;
    border-radius: 8px;
}

/* The Navigation Bar */

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    /* gap: 49px; */
    justify-content: space-between;
    max-width: 450px;
    height: 28px;
    word-break: keep-all;

    order: 3;

    /* background-color: orangered; */
}

div.navbar > a {
    position: relative;
    width: 110px;
    height: 28px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar div {
    position: relative;
    height: 28px;
    width: 110px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--footer-texts);
}

.navbar > a:hover {
    color: #000000;
}

.navbar > div:hover {
    color: #000000;
}

.tools {
    position: relative;
    display: inline-block;
    width: 90px;
    height: auto;
    cursor: default;
}

.tools > div {
    height: 28px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}

.tools img {
    position: absolute;
    top: 5px;
    left: 45px;
    opacity: 0.5;
}

.tool-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    position: absolute;
    width: 100%;
    /* height: 300px; */
    word-wrap: none;
    box-shadow: 3px 5px 10px rgba(0,0,0, 0.3);
    z-index: 5;
    text-align: left;
    border-top: 1px solid black;
}

.tools:hover .tool-drop {
    visibility: visible;
}

.tool-drop > a {
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
    border-top: transparent;
    width: inherit;
    padding: 2px;
    font-size: small;
    background-color: var(--utility-cont);
}

.tool-drop a:hover {
    background-color: var(--footer-texts);
    color: var(--white);
}

/* To revisit, changes in child 1 affects child 2 */
.navbar :nth-child(1) {
    order: 1;
    flex-grow: 0;
}

.navbar :nth-child(2) {
    order: 2;
    flex-grow: 0;
}

.navbar :nth-child(3) {
    order: 3;
    flex-grow: 0;
}

.navbar :nth-child(4) {
    order: 4;
    flex-grow: 0;
}

/* The User Profile in the header */

.user-prof-cont {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 48px;
    order: 4;
    margin-left: 5%;
    height: auto;
    cursor: default;
    /* background-color: purple; */
}

.user-prof {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    float: right;
    /* justify-self: flex-start; */
}

.user-prof > img {
    position: absolute;
    left: 80px;
    bottom: 0;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    float: right;
    /* background-color: red; */
}

.user-prof-cont:hover .tool-drop {
    position: absolute;
    visibility: visible;
    top: 48px;
}
/* SECTIONS HEADING */
  .section-head{
    padding-top: 100px;
    text-align: center;

  }
  .flex-container-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }
  .flex-item-left {
    padding: 30px;
    flex: 50%;
    line-height: 20px;
    align-self: center;
  }
  .flex-item-right {
    padding: 30px;
    flex: 50%; 
  }
  .flex-item-right > img {
    height: 100%;
    width: 100%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container-1 {
    flex-direction: column;
    }
  .pag {
    text-align: center;
  }
  }
  .p-meet{
    text-align: center;
    line-height: 20px;
  }
  .flex-container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }
  .left-item{
    flex: 33.33%;
    text-align: center;
  }
  .middle-item{
    flex: 33.33%;
    text-align: center;
  }
  .right-item{
    flex: 33.33%;
    text-align: center;
  }
  .pic{
    height: 30%;
    width: 90%;
    border-radius: 100%;
    padding: 80px 30px;
    margin: 0 auto 0 auto;
  }
  .fig{
    text-align: center;
  }
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .left-item, .middle-item .right-item {
      flex-direction: column-reverse;
      }
    }

    /* THE FOOTER */

/* The footer container */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--powderblue);
    width: 100%;
    min-height: 350px;
    gap: 20px;
    margin-top: 47px;
}

footer a, h1, h4{
    text-decoration: none;
    color: var(--footer-texts);
}

/* All four containers in gthe footer */
footer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    width: 220px;
    min-height: 154px;
    /* background-color: red; */
}

/* The first footer container housing the company logo, "ChunkFile text" and the social media icons */
.footer-logo {
    display: flex;
    width: 235px;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

footer div > img {
    width: 70px;
    height: 54px;
    background-color: transparent;
}


.socials {
    display: flex;
    gap: 5px;
}

.socials > a {
    width: 24px;
    height: 24px;
}