*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
footer {
  font-size: 1.8rem;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
}
.footer-container {
  background-color: rgb(59, 91, 177);
  padding: 2em 4em;

}
.footer-top {
  display: flex;
  margin-left: 0em;
  margin-right: 6em;
}
a {
  list-style-type: none;
  text-decoration: none;

}
.mobile-flex {
  display: flex;
  
}
.second, .third ,.fourth {
  margin-left: 5em;
}
.footer-bottom {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
p {
  margin: 0.75em 0;
}
h2 {
  margin-bottom: 1em;
}
.footer-bottom p {
  margin: 0;
}
/* Small and Medium Screens */
@media screen and (max-width: 990px){
  .footer-top {
    display: block;
    margin-right: 0;
    margin-left: 1.5em;
    padding-right: 3em;
  }
  .second, .third ,.fourth {
    margin-left: 0;
    margin-top: 2em;
  }
  .footer-container {
    padding: 2em 0 4em 0;
    font-size: 1.6rem;
    
  }
  .mobile-flex {
    justify-content: space-between;
  }
  .footer-bottom {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-bottom p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .footer-logo {
    width: 160px;
    height: 80px;
  }
  footer {
    padding-bottom: 5em;
  }
  .social {
    display: flex;
  
  }
  .tagline {
    font-size: 1.4rem;
    margin-top: 0em;
  }

  
}
