*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
nav {
    font-family: 'DM Sans', sans-serif;

}

nav {
    box-shadow: 0px 3px 5px 0px rgba(125, 125, 125, 0.3);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(125, 125, 125, 0.3);
    width: 100%;
    position: fixed;
    top: 0;


}

/* img {
    width: 130px;
    height: 40px;

} */

.nav-logo {
    padding: 2em 1.2em 1em 1em;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    display: none;

}

.block {
    display: block;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em 0;
    text-align: center;
    color: black;
}

.navbar-nav {
    font-weight: 500;
}

#burger {
    cursor: pointer;
}

form {
    padding: 0.3em;
    text-align: center;
}

input {
    height: 35px;
    border-radius: 7px;
    background-image: url(../ASSETS/magnifying-glass-solid.svg);
    background-position: 5% 12.5px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 3em;
    padding-top: 0.5em;
    border: 1px solid grey;
    background-color: rgb(240, 243, 249);

}
a.profile {
    text-align: center;
    margin: 0 auto 1em;
}

::placeholder {
    color: grey;
}

/* Internet Explorer */
:-ms-input-placeholder {
    color: #b9bdc4;
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: #b9bdc4;
}
/* profile styles */
a.profile {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}
/* message styles */
a.profile span{
    display: block;
    color: #fff;
    font-weight: bold;
    background-color: rgb(59, 91, 177);
    position: absolute;
    top: -5px;
    right: -7px;
    font-size: 10px;
    height: 15px;
    width: 15px;
    /* border: 1px solid red; */
    border-radius: 50%;
}
img {
    width: 160px;
    height: 50px;

}
#burger {
    align-self: center;
}

/* Large Screens styling */
/* @media screen and (min-width: 600px) {
   

} */

@media screen and (min-width: 992px) {
    img {
        width: 200px;
        height: 50px;

    }
    #burger {
        display: none;
    }

    .active {
        background-color: rgb(59, 91, 177);
        color: #fff;

    }

    #flex {
        display: flex;
        align-items: center;
    }


    .nav-container {
        padding: 0.4em 2em;
        display: flex;
        justify-content: space-around;
    }

    .dropdown {
        align-self: center;
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav li {
        margin-left: 1em;
    }

    input {
        width: 300px;
    }

    .nav-logo {
        padding: 0em 0em 0em 0em;
    }

    nav {
        padding: 1em 0 0.5em 0;
    }

    nav a {
        padding: 0;
    }

    .nav-item {
        margin-left: 2em;
    }

    .navbar-nav a {
        padding: 0.5em;
        border-radius: 7px;
    }
    #flex li{
        align-self: center;
    }
    a.profile {
        margin: 0;
    }






}