*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    padding: 0 5em 0 2em;
    font-family: 'DM Sans', sans-serif;
}
header {
    margin-top: 13em;
}
header h1 {
    text-align: center;
}
main {
    margin-top: 4em;
    margin-bottom: 1.4em;
}
h1, h2, h3{
    margin: 1.7em 0;
}
h1, h2 {
    color: rgb(59, 91, 177);
}
main h2 {
    text-align: center;
}
li {
    list-style-type: none;
}
section {
    margin-top: 1.4em;
}
.safe {
    margin-top: 5em;
}