*,
::before,
::after {
    margin: 0;
    padding: 0;

}

* {
    font-family: 'DM sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    height: 150vh;
    display: flex;
    flex-direction: column;
}

button,
a {
    display: block;
    width: 100%;
}

.links {
    height: 50vh;
}

a {
    color: #fff;
    font-size: 1.8rem;
}

.profile {
    height: 50vh;
    padding: 0.8em;
    background-color: #3E8DE3;
    margin-bottom: 1em;
}

.profile-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profimg-container {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: aliceblue;
}

#slider-container {
    width: 40px;
    background-color: aliceblue;
    border-radius: 10px;
    height: 15px;
    margin-right: 1em;
    margin-left: auto;
}

.slider {
    margin-left: 0.1em;
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.active {
    transform: translate(23px);
}

.change {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em 0;
    background-color: rgb(59, 91, 177);
    box-shadow: 0px 3px 5px 0px rgba(125, 125, 125, 0.3);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(125, 125, 125, 0.3);
    border: none;
}

.links {
    padding: auto 2em;
}

p.name {
    margin: 0.3em 0;
    font-weight: bold;
    font-size: 2.1rem;
}

#desktop-container {
    display: none;
}

.desktop-slider {
    display: none;
}

@media screen and (min-width: 385px) {
    main {
        height: 100vh;
    }


}



@media screen and (min-width: 740px) {
    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;

    }

    .links,
    .profile {
        height: 100%;
        width: 100%;

    }

    .profimg-container {
        height: 230px;
        width: 230px;
    }

    #desktop-container {
        display: block;
        text-align: right;
        width: 45px;
        background-color: black;
        border-radius: 10px;
        height: 15px;
        margin-right: 1em;
        margin-left: auto;
    }

    .desktop-slider {
        display: block;
        width: 20px;
        margin-left: 0.1em;
        background-color: lightgray;
        height: 100%;
        width: 35%;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s;
    }

    .slider {
        display: none;
    }

    #slider-container {
        display: none;
    }

    .dark-screen {
        display: flex;

        justify-content: space-between;
        color: black;
        padding: 1em;
        background-color: lightgrey;
        width: 80%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 6em;

    }
    .active {
        transform: translate(26px);
    }

}