
/* FONTS ___________________________________________________________________*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=DM+Sans:wght@700&family=Dancing+Script:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=DM+Sans:wght@400;700&family=Dancing+Script:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');
/* ________________________________________________________________________ */


/* GENERAL BODY STYLING ____________________________________________________ */
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
 
body {
    height: 100vh;
    display: flex;
    gap: 100px;
}
/* ___________________________________________________________________________ */


/* HEADER ____________________________________________________________________ */
header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 5px 10px;
    padding:0 10rem;
}

.header-text{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
/* ___________________________________________________________________________ */


/* FORM & IMAGE SECTION _______________________________________________________*/
.form-and-image-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 30px;
}

/* IMAGE  __________________________*/
.side-1 {
    display: flex;
    gap: 0;
}

.img-and-logo {
    height: 100vh;
    width: 40rem;
    background-color: #97B6D9;
    border-radius: 0 25px 0 0;
    padding-top: 30px;

}

.image-section {
    margin-top: 70px;
    
}

.logo {
    margin-left: 50px;
}

.img {
    height:70vh;
    width: 30rem;
    margin-left: 50px;
}


.mobile-logo {
    display: none;
}
/* ________________________________ */

.button-section {
    display: flex;
    gap: 30px;
    font-family: 'DM Sans', sans-serif;
}

.sign-up-btn1{
    display: flex;
    gap: 10px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 12rem;
    background-color: white;
}

.sign-up-btn{
    display: flex;
    gap: 10px;
    margin: 3px;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.icon {
    height: 20px;
    width: 20px;
}

.form-bottom-text {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    
}

.mobile-form-bottom-text {
    display: none;
}

.line {
    border-top: 1px solid black;
    width: 30px;
}

.cont{
    font-weight: 700;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 50px;
}

.form-text {
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    height: 3rem;
    width: 26.5rem;
    border-radius: 5px;
    border: none;
    border: 1px solid grey;
    background-color: white;

}

::placeholder {
    padding-left: 10px;
}

/* ______________________________________________________________ */

/* FORM BUTTON __________________________________________________*/
.btn-3 {
    background-color: #3B5BB1;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 26.5rem;

    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: white;
}

.form-bottom-text p {
    font-size: 0.95rem;
}

.ack-text {
    font-size: 0.9rem;
    margin: 20px 0;
}

.tnc-links {
    color: #3B5BB1;
    font-size: 0.9rem;
}

.foot-text span a {
    color: #3B5BB1;
    font-size: 0.9rem;
    font-weight: bold;
}

.foot-text {
    margin-top: 10px;
}

button:hover,
button a:hover {
    background-color: #3B5BB1;
    color: white;
}

.mobile-btn-sec {
    display: none;
}
/* __________________________________________________ */


@media (max-width:1300px) {
    body {
        gap: 5px;
        height: 100%;
        width: 100%;
        margin-right: 0;
    }

    .img-and-logo {
        height: 100%;
        width: 35rem;
        gap: 100px;
        height: 100vh;
    }

    .img {
        height:70vh;
        width: 27rem;
    }

    .form-section {
        margin-right: 10px;
    }
}


@media (max-width:870px) {
    .side-1 {
        display: none;
    }

    body {
        display: block;
        justify-content: center;
        gap: 0;
    }

    
    form {
        display: flex;
        justify-self: center;
    }

    .mobile-logo {
        display: block;
        align-self: left;
    }

    .form-section {
        align-self: center;
    }
}

@media (max-width:475px) {
    body {
        align-items: center;
        gap: 10px;
    }

    .side-1 {
        display: none;
    }

    .button-section {
        display: none;
    }

    .btn-3 {
        width: 90%;
        align-self: center;
    }

    label {
        font-size: 12px;
    }

    label p {
        margin-left: 20px;
        font-weight: bold;
    }

    input {
        align-self: center;
        width: 90%;
        display: flex;
        justify-content: center;

    }

    .form-and-image-section {
        justify-self: center;
        align-self: center;
        padding: 0 0;
    }

    .form-section {
        display: flex;
        justify-self: center;
        padding: 0;
        margin: 0;
    }

    .form-section-sub {
        display: flex;
        flex-direction: column;
    }
    
    .form-section div h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-text {
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
    }

    .mobile-btn-sec {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 10px;
        font-family: 'DM Sans', sans-serif;
        margin-bottom: 50px;
    }
    
    .sign-up-btn1{
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 3px;
        border-radius: 5px;
        width: 10rem;
        border: none;
        
    }
    
    .ggle {
        background-color: #d9d9d9;
    }

    .fb {
        background-color: #3B5BB1;

    }

    .sign-up-btn{
        display: flex;
        gap: 5px;
        margin: 3px;
        font-size: 9px;
    }

    .icon {
        height: 15px;
        width: 15px;
    }

    .icon-text {
        color: white;
        font-size: 0.7rem;
        font-weight: bold;
    }

    .form{
        display: flex;
        justify-content: center;
    }

    .form-bottom-text {
        display: none;
    }

    .mobile-form-bottom-text {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }
    
    .line {
        border-top: 1px solid black;
        width: 15px;
        margin: 0 10px;
    }

    .cont {
        font-weight: lighter;
        font-size: 0.7rem;
    }

    .ack-text {
        font-size: 10px;
        align-self: center;
        width: 95%;
        margin: 0 0 0 30px;
    }

    .tnc-links, .foot-text p, .foot-text p span a  {
        font-size: 11px;
    }

    .foot-text {
        align-self: center;
    }


    .mobile-logo{
        align-self: left;
    }


    .logo {
        height: 100px;
        width: 125px;

    }

}
