@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&display=swap');

:root {
    --blue: #3B5BB1;
    --black: #04060D;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
}

main {
    position: relative;
    top: 15vh;
    width: 90%;
    margin: 0 5%;
    color: #04060D;
}

.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    border: 1px solid var(--blue);
    padding: 0 2%;
    gap: 20px;
    margin-bottom: 95px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="file"] {
    padding: 25px;
    width: 543px;
    gap: 8px;
    border-radius: 2px solid var(--black);
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
}

.drag-drop {
    display: flex;
    justify-content: space-between;
    width: 354px;
    gap: 8px;
    color: white;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 0 29px;
    border-radius: 16px;
    border: 1px solid var(--blue);
}

main :nth-child(3) {
    text-align: center;
}

.second-cont {
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
}

.illustration-cont {
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;
    align-items: center;
}

.illustration-cont img {
    width: 348.62px;
    height: 328px;
}

.illustration-cont .illustration-texts {
    text-align: center;
    width: 277px;
    height: 149px;
}

/* Spliited JSON file section */

.save-cancel-cont {
    display: flex;
    gap: 60px;
    margin-top: 2rem;
}

.btn {
    padding: 16px;
    width: 300px;
    border: none;
    border-radius: 4px;
}

.save, .download {
    background-color: var(--blue);
    color: white;
}

.cancel, .save-for-later {
    color: var(--black);
    border: 1px solid var(--blue);
    background-color: white;
}

.cancel-split {
    border-radius: 16px;
}

/* Split Parametres section */

.para-cont {
    justify-content: center;
    gap: 20px;
}

.size-number-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
}

.size-cont, .number-cont {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    height: 42px;
}

.size-cont p, .number-cont p {
    font-weight: 700;
}

input[type="number"] {
    width: 102px;
    padding: 16px 0;
    text-align: center;
    border: 2px solid #3B5BB1;
    border-radius: 16px;
    outline: none;
}


/* Upload Split JSON File section */

.upload-split-json {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    color: white;
    width: 80%;
    height: 59px;
    padding: 0 50px;
    border-radius: 5px;
    background-color: var(--blue);
}


/* Saved Files Section */

.my-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.del-download-all {
    display: flex;
    height: 46px;
    gap: 10px;
}

.del-download-all img {
    cursor: pointer;
}

.saved-files {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    width: 70%;
}

input[name="saved-files"] {
    height: 40px;
    width: 40px;
    outline: var(--blue);
}

.select-file {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 65%;
}

.select-file .file {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    color: white;
    background-color: var(--blue);
}


.saved-files img {
    height: 40px;
    cursor: pointer;
}