{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
    <title>Sign In</title>
  </head>

  <body>
    <section>
      <div class="image-section">
        <img src="#" alt="" />
      </div>

      <div class="form-section">
        <header>
          <p class="header-text">Hello Again!</p>
          <p class="header-sub-text">
            Welcome back, you've <br />
            been missed!
          </p>
        </header>

        <form action="#" method="POST">
          {% csrf_token %}
          <h1 width="30%">Sign In</h1>
          <hr width="30%" />

          {% for message in messages %}
          <p id="message">{{message}}</p>
          {% endfor %}

        <p>
            <label for="username">Username</label>
          <input type="text" name="username" placeholder="Username" />
        </p>
          
          
          <p>
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </p>
        <p>
            <a href="#" class="forgotten-password"> Forgotten Password </a>
        </p>
        <p style="text-align: center;">
            <span class="">Don't have an account?</span>
            <a href="{% url 'accounts:register' %}" 
                style="text-decoration:none;">Sign Up</a>
        </p>
          

          <input type="submit" class="btn-2" value="Sign In" />
        </form>

        <div class="form-bottom-text">
          <p class="line"></p>
          <p class="cont">Or continue with</p>
          <p class="line"></p>
        </div>

        <div class="icons">
          <img src="#" alt="" />
          <img src="#" alt="" />
          <img src="#" alt="" />
        </div>

        <!-- <div class="footer">
                Don't have an account yet? <a href="#" class="reg">Register</a>
            </div> -->
      </div>
    </section>
  </body>
</html>
