<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer_nav.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fraunces:opsz,wght@9..144,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d1b29e8e1a.js" crossorigin="anonymous"></script>
    

    <!--Cookie sheet-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
    />
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container__text">
        <h1>Contact Us</h1>
        <p>
            If you have any question, just fill in the contact form, and we will
            answer you shortly.
        </p>
    </div>
    <div class="container">
    <div class="container__form">
        <form action="">
            <label for="FName">Full Name</label>
            <input type="text" name="name" placeholder="Enter your full name" required />
            <label for="Email">Email Address</label>
            <input type="email" name="email" placeholder="Enter your email address" required />
            <label for="message">Message/Feedback</label>
            <textarea name="message" rows="7" placeholder="Enter your message here" required></textarea>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>
   </div>
{% include 'footer.html' %}
</body>

</html>
