{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Chunk File</title>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

	<!--Cookie consent-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	<script src="{% static 'js/cookie.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
</head>
		

	<body>
		<header>
			{% if request.user.is_authenticated %}
			<nav class="nav">
				<!-- logo -->
				<div class="logo-container">
					<h1 class="logo-text">ChunkFile</h1>
				</div>
				<div class="nav-btn">
					<span class="btn sign-up">Hi, {{request.user}}</span>
					<a href="" class="btn sign-up" style="text-decoration: none;"><span>Account <i class="fa fa-user"></i></span></a>
				</div>

				<div class="bars">
					<img src="{% static 'images/menu.svg' %}" alt="Menu">
				</div>
			</nav>
			{% else %}
				<nav class="nav">
					<!-- logo -->
					<div class="logo-container">
						<h1 class="logo-text">ChunkFile</h1>
					</div>
					<div class="nav-btn">
						<a href="{% url 'accounts:login' %}" class="btn sign-in" style="text-decoration: none;">Sign in</a>
						<a href="{% url 'accounts:register' %}" class="btn sign-up" style="text-decoration: none;">Sign up</a>
					</div>

					<div class="bars">
						<img src="{% static 'images/menu.svg' %}" alt="Menu">
					</div>
				</nav>
			{% endif %}
		</header>

		<main>
			<!-- hero section  -->
			<section>
				<div class="container hero-container">
					<!-- hero cta  -->
					<div class="hero-left">
						<h1 class="hero-title">
							The Easy Way to Break Your Files into Smaller Bits
						</h1>
						<p class="hero-desc">
							We give you 100% free access to split your CSV and JSON files into
							bits merge and convert the easy way
						</p>
						<a href="{% url 'split_file:split_home' %}" class="hero-btn" style="text-decoration: none;">Get started</a>
					</div>

					<!-- hero image -->
					<div class="hero-right">
						<img src="{% static 'images/hero.svg' %}" alt="" />
					</div>
				</div>
			</section>

			<!-- top features  -->
			<section class="  ">
				<div class="container features-container">
					<h1 class="section-title">Our Top Features</h1>
					<div class="features">
						<!-- Splitter  -->
						<div class="feature-box">
							<h3 class="feature-title">Splitter</h3>
							<p class="feature-desc">Split your CSV and JSON file</p>
						</div>

						<!-- Converter  -->
						<div class="feature-box">
							<h3 class="feature-title">Converter</h3>
							<p class="feature-desc">Convert your CSV and JSON file</p>
						</div>

						<!-- Merger  -->
						<div class="feature-box">
							<h3 class="feature-title">Merger</h3>
							<p class="feature-desc">Merge your CSV and JSON file</p>
						</div>
					</div>
				</div>
			</section>

			<!-- why us -->
			<section>
				<div class="container why-container">
					<h1 class="section-title">Why Choose us?</h1>
					<div class="why">
						<!-- user friendly  -->
						<div class="why-reason">
							<div class="why-head">
								<img class="" src="" alt="" />
								<h3 class="why-title">User Friendly</h3>
							</div>
							<p class="why-desc">
								Our Tools are simple to navigate, with just a few clicks you can
								split, merge, and convert your CSV and JSON files easily. Your
								files are easily accessible with the option to save and download
								later at anytime.
							</p>
						</div>

						<!-- secure -->
						<div class="why-reason">
							<div class="why-head">
								<img class="" src="" alt="" />
								<h3 class="why-title">Secure</h3>
							</div>
							<p class="why-desc">
								To protect our users information, We use the latest 256-bit TLS
								encryption algorithm and secure infrastructure which guarantees
								the security of users data
							</p>
						</div>

						<!-- 100% Free  -->
						<div class="why-reason">
							<div class="why-head">
								<img class="" src="" alt="" />
								<h3 class="why-title">100% Free</h3>
							</div>
							<p class="why-desc">
								Our platform provides 100% free and reliable access to online
								splitting, merging, and converting tools to help you solve your
								files problem.
							</p>
						</div>

						<!-- API Integration -->
						<div class="why-reason">
							<div class="why-head">
								<img class="" src="" alt="" />
								<h3 class="why-title">API Integration</h3>
							</div>
							<p class="why-desc">
								With ChunkFile’s simple API integration system, files can easily
								be transformed to produce smaller bits, different formats, and
								combined data with an option to save or download.
							</p>
						</div>

						<!-- Online Sync -->
						<div class="why-reason">
							<div class="why-head">
								<img src="" alt="" />
								<h3 class="why-title">Online Sync</h3>
							</div>
							<p class="why-desc">
								You can split your files, convert them, or merge on your PC, Mac
								or android browser with no additional software installation
								required for this process
							</p>
						</div>

						<!-- 24/7 Support -->
						<div class="why-reason">
							<div class="why-head">
								<img src="" alt="" />
								<h3 class="why-title">24/7 Support</h3>
							</div>
							<p class="why-desc">
								Our support team is always available 24/7 to assist, so you can
								reach out to us, to inquire or drop a feedback on our features
								and service
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Used by -->
			<section class="used-section">
				<div class="container used-container">
					<h1 class="section-title">Organizations that use ChunkFile</h1>
					<div class="users">
						<img class="user" src="{% static 'images/zuri.png' %}" alt="" />
						<img class="user" src="{% static 'images/i4g.png' %}" alt="" />
						<img class="user" src="{% static 'images/jumia.png' %}" alt="" />
						<img class="user" src="{% static 'images/kpmg.png' %}" alt="" />
						<img class="user" src="{% static 'images/whogohost.png' %}" alt="" />
					</div>
				</div>
			</section>

			<!-- How it Works  -->
			<section>
				<div class="container how-container">
					<h1 class="section-title">How it Works</h1>
					<div class="hows">
						<!-- select a tool  -->
						<div class="how">
							<p class="how-num">1</p>
							<div class="how-top">
								<img src="{% static 'images/select.svg' %}" alt="" />
							</div>
							<div class="how-desc">
								<h3>Select a Tool</h3>
								<p>
									Get started by either choosing to split, convert, or merge
									your file
								</p>
							</div>
						</div>

						<!-- Upload a File  -->
						<div class="how">
							<p class="how-num">2</p>
							<div class="how-top">
								<img src="{% static 'images/upload.svg' %}" alt="" />
							</div>
							<div class="how-desc">
								<h3>Upload a File</h3>
								<p>Upload a file from your PC, or you simply paste a link</p>
							</div>
						</div>

						<!-- Set Parameters  -->
						<div class="how">
							<p class="how-num">3</p>
							<div class="how-top">
								<img src="{% static 'images/parameter.svg' %}" alt="" />
							</div>
							<div class="how-desc">
								<h3>Set Parameters</h3>
								<p>
									Choose the desired size you wish to split to, what files to
									convert or the files to merge
								</p>
							</div>
						</div>

						<!-- Download  -->
						<div class="how">
							<p class="how-num">4</p>
							<div class="how-top">
								<img src="{% static 'images/download.svg' %}" alt="" />
							</div>
							<div class="how-desc">
								<h3>Download</h3>
								<p>
									Your files are ready to download, you can also save for later
									or to cloud
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- faq  -->
			<section>
				<div class="container faq-container">
					<h1 class="section-title">Frequently Asked Question</h1>
					<div class="faq">
						<div class="faq-group">
							<h3 class="faq-title">How to use ChunkFiles for free?</h3>
							<p class="faq-desc">
								ChunkFile provides an online platform to Split, Convert, Merge
								100% free, once you sign up by simply choosing a tool, uploading
								your preferred file format and either save to cloud or download
								immediately
							</p>
						</div>

						<div class="faq-group">
							<h3 class="faq-title">Can i use ChunkFile my PC?</h3>
							<p class="faq-desc">
								ChunkFile supports multiple platforms, from your PC, Mac,
								Iphone, and Android by simply opening on any of your browser
								without worrying about any software installation.
							</p>
						</div>

						<div class="faq-group">
							<h3 class="faq-title">How to Split Files?</h3>
							<p class="faq-desc">
								ChunkFile supports multiple platforms, from your PC, Mac,
								Iphone, and Android by simply opening on any of your browser
								without worrying about any software installation.
							</p>
						</div>

						<div class="faq-group">
							<h3 class="faq-title">How to Convert Files?</h3>
							<p class="faq-desc">
								ChunkFile supports multiple platforms, from your PC, Mac,
								Iphone, and Android by simply opening on any of your browser
								without worrying about any software installation.
							</p>
						</div>

						<div class="faq-group">
							<h3 class="faq-title">How to Merge Files?</h3>
							<p class="faq-desc">
								ChunkFile supports multiple platforms, from your PC, Mac,
								Iphone, and Android by simply opening on any of your browser
								without worrying about any software installation.
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- get in touch -->
			<section>
				<div class="container contact-container">
					<div class="contact-left">
						<img src="{% static 'images/247.svg' %}" alt="" />
					</div>

					<div class="contact-right">
						<h2>Get in touch</h2>
						<p>
							Have an inquiry or feedback for us? Kindly fill the form to reach
							out to us.
						</p>

						<form class="contact-form">
							<div class="form-group">
								<label for="fullname">Full Name</label>
								<input type="text" placeholder="Enter your full name here" />
							</div>

							<div class="form-group">
								<label for="emaileryidfv">Email Address</label>
								<input
									type="email"
									placeholder="Enter your Email Address here"
								/>
							</div>

							<div class="form-group">
								<label for="message"></label>
								<textarea
									name=""
									id=""
									cols="30"
									rows="10"
									placeholder="Enter your message here"
								></textarea>
							</div>

							<button>Get in touch</button>
						</form>
					</div>
				</div>
			</section>
		</main>

		{% include 'footer.html' %}

	</body>
</html>
