{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up</title>
    <style>
        .errorlist {
            list-style-type: square;
            font-size: 1em;
            color: red;
        }
    </style>
</head>


<body>
    <section class="side-1">
        <div class="img-and-logo">
            <div>
                <img src="{% static 'images/default-1.png' %}" alt="logo" class="logo">
            </div>
            <div class="image-section">
                <img src="{% static 'images/image-5.png' %}" alt="img" class="img">
            </div>
        </div>
    </section>

    <section class="form-and-image-section">
        <div class="form-section">
            <div>
                <h1>
                    Create An Account
                </h1>
                <p class="form-text">
                    One account for everything split, and more
                </p>
            </div>

            <div class="button-section">
                <button class="sign-up-btn1">
                    <a href="#" class="sign-up-btn">
                        <img src="{% static 'images/Google logo.png' %}" alt="google" class="icon">
                        Sign up with google
                    </a>
                </button>

                <button class="sign-up-btn1">
                    <a href="#" class="sign-up-btn">
                        <img src="{% static 'images/Facebook logo.png' %}" alt="fb" class="icon">
                        Sign up with Facebook
                    </a>
                </button>
            </div>

            <div class="form-bottom-text">
                <p class="line"></p>
                <p class="cont"> OR </p>
                <p class="line"></p>
            </div>

            <form action="#" method="POST">
                {% csrf_token %}
                <label for="username">
                    Username
                </label>
                {{form.username}}
                <label for="email">
                    Email Address
                </label>
                {{form.email}}
                <label for="password">
                    Password
                </label>
                {{form.password1}}
                <label for="password">
                    Confirm password
                </label>
                {{form.password2}}
                <p class="ack-text">
                    By creating account, you agree to our <span> <a href="#" class="tnc-links">Terms</a></span> and have read and<br>
                    acknowledge our <span> <a href="{% url 'main:policy' %}" class="tnc-links">Privacy Statement</a> </span>
                </p>
                <p>
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                    {{form.errors}}
                </p>
                <input type="submit" class="btn-3" value="Create account" type="submit" 
                style="cursor: pointer;">

                <div class="foot-text">
                    <p>
                        Already have an account? <span> <a href="{% url 'accounts:login' %}"> Login </a> </span>
                    </p>
                </div>
            </form>
        </div>
    </section>

    <script>
        var placeholders = document.getElementsByTagName('input');
        placeholders[1].placeholder = 'creative-lunar999';
        placeholders[2].placeholder = 'john@doe.com';

    </script>
</body>
</html>