{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/splitcsv.css' %}" />
		<link rel="stylesheet" href="{% static 'css/nav.css' %}">
		<link rel="stylesheet" href="{% static 'css/footer_nav.css' %}">
		<title>Split CSV</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<main>
			<section class="split-section">
				<div class="container">

                <div class="my-files">
                    <h1 class="split-title" >My Files</h1>
                    <div class="del-download-all">
                        <img src="{% static 'images/delete-all.svg' %}" alt="delete-all-img">
                        <img src="{% static 'images/download-all.svg' %}" alt="download-all-img">
                    </div>
                </div><br>
                <div style="border: 1px solid black;" class="main-cont">
                    <div class="saved-files">
                        <div class="select-file">
                            <input type="radio" name="saved-files">
                            <div id="file">sample_csv.zip</div>
                        </div>
                        <img src="{% static 'images/delete.svg' %}" alt="delete-icon">
                        <img src="{% static 'images/file_download-icon.svg' %}" alt="download-icon">
                    </div>
                </div>
				</div><br><br><br>
				<h1 class="split-title" style="text-align: center;">How it works</h1><br>
				<div class="main-cont second-cont">
					<div class="illustration-cont">
						<img src="{% static 'images/upload.png' %}" alt="upload"><br>
						<div class="illustration-texts">
							<h1 class="split-title" >Upload File</h1>
							<p>Get started by selecting a file from your PC, drive or you simply drag the file to upload</p>
						</div>
					</div>
					<div class="illustration-cont">
						<img src="{% static 'images/set parameters.png' %}" alt="upload"><br>
						<div class="illustration-texts">
							<h1 class="split-title" >Set Parameters</h1>
							<p>Choose the desired size you wish to split to</p>
						</div>
					</div>
					<div class="illustration-cont">
						<img src="{% static 'images/download.png' %}" alt="upload"><br>
						<div class="illustration-texts">
							<h1 class="split-title" >Download</h1>
							<p>Your files are ready to download, you can also save for later or to cloud</p>
						</div>
					</div>
				</div>
			</section>
		</main>
		{% include "footer.html" %}
	</body>
</html>