{% load static %}
    <nav>
      <div class="nav-container">
        <div class="nav-logo">
          <a href="{% url 'main:index' %}"
            ><img src="{% static 'images/header-logo1.svg' %}" alt=""
          /></a>
          <div id="burger">
            <h2><i class="fa-solid fa-bars"></i></h2>
          </div>
        </div>
        <div id="links" class="dropdown">
          <ul class="navbar-nav">
            <li>
              <a href="{% url 'split_file:split_home' %}"
                >Home</a
              >
            </li>
            <li><a href="{% url 'main:about' %}" class="links">About Us</a></li>
            <li><a href="{% url 'main:faq' %}" class="links">FAQ</a></li>
            <li>
              <a href="{% url 'main:contact' %}" class="links">Contact Us</a>
            </li>
          </ul>
        </div>

        <div id="flex" class="dropdown">
          <form>
            <input type="search" name="" id="" placeholder="Search" />
          </form>
          <ul>
            <li>
              <a href="#"
                ><i
                  class="fa-regular fa-bell"
                  style="color: rgb(59, 91, 177)"
                ></i
              ></a>
            </li>
            <!-- profile -->
            <li>
              <a href="{% url 'main:profile' %}" class="profile">
                <!--profile-img added here -->
                <span class="bubble"><!--message no here -->8</span>
              </a>
            </li>
            <!-- <i class="fa-solid fa-user"></i> -->
          </ul>
        </div>
      </div>
    </nav>