/* FORM STYLES */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15rem;
  margin-bottom: 15rem;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: row;
}

.contact-left{
  width: 60%
}

.contact-right{
  width: 40%;
}

input, textarea {
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background: transparent;
  border: 2px solid grey;
  resize: none;
  color: white;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 70%;
    background: rgb(59, 91, 177);
    color: #ffffff;
}

.btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .contact-left{
    width: 100%
  }
  
  .contact-right{
    width: 100%;
    margin-top: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background: transparent;
    border: 2px solid grey;
    resize: none;
    color: white;
  }
  .btn {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      padding: 15px;
      border: none;
      border-radius: 10px;
      width: 100%;
      background: rgb(59, 91, 177);
      color: #ffffff;
  }

  .img-mobile {
    width: 100%;
  }
}
