
/* FONTS ___________________________________________________________________*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=DM+Sans:wght@700&family=Dancing+Script:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=DM+Sans:wght@400;700&family=Dancing+Script:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');
/* ________________________________________________________________________ */


/* GENERAL BODY STYLING ____________________________________________________ */
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
 
body {
    height: 100vh;
    display: flex;
    gap: 100px;
}
/* ___________________________________________________________________________ */


/* HEADER ____________________________________________________________________ */
header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 5px 10px;
    padding:0 10rem;
}

.header-text{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
/* ___________________________________________________________________________ */


/* FORM & IMAGE SECTION _______________________________________________________*/
.form-and-image-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
}

/* IMAGE  __________________________*/
.side-1 {
    display: flex;
    gap: 0;
}

.img-and-logo {
    height: 100vh;
    width: 40rem;
    background-color: #d9d9d9;
    border-radius: 0 25px 0 0;

}

.image-section {
    margin-left: 140px;
    margin-top: 70px;
}

.img {
    height:70vh;
    width: 35rem;
}

/* ________________________________ */

.button-section {
    display: flex;
    gap: 30px;
    font-family: 'DM Sans', sans-serif;
}

.sign-up-btn1{
    display: flex;
    gap: 10px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 12rem;
    background-color: white;
}

.sign-up-btn{
    display: flex;
    gap: 10px;
    margin: 3px;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.icon {
    height: 20px;
    width: 20px;
}

.form-bottom-text {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    
}

.line {
    border-top: 1px solid black;
    width: 30px;
}

.cont{
    font-weight: 700;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 50px;
}

.form-text {
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    height: 3rem;
    width: 26.5rem;
    border-radius: 5px;
    border: none;
    border: 1px solid grey;
    background-color: white;

}

::placeholder {
    padding-left: 10px;
}

/* ______________________________________________________________ */

/* FORM BUTTON __________________________________________________*/
.btn-3 {
    background-color: #3183BE;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 26.5rem;

    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: white;
}

.form-bottom-text p {
    font-size: 0.95rem;
}

.ack-text {
    font-size: 0.9rem;
    margin: 20px 0;
}

.tnc-links {
    color: #3183BE;
    font-size: 0.9rem;
}

.foot-text span a {
    color: #3183BE;
    font-size: 0.9rem;
    font-weight: bold;
}

.foot-text {
    margin-top: 10px;
}

button:hover,
button a:hover {
    background-color: #3183BE;
    color: white;
}
/* __________________________________________________ */
